<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="../../favicon.ico">

    <title>Piano</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/common.css" rel="stylesheet">

    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="home">首页</a></li>
                <li><a class="navbar-brand" href="release_piano">发布信息</a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="collections">我的收藏</a></li>
                <li><a class="navbar-brand" href="change_password">修改密码</a></li>
                <li><a class="navbar-brand" href="sign_in">登陆</a></li>
                <li><a class="navbar-brand" href="sign_up">注册</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="row">
                <div class="col-md-5">
                    <img src="http://s1.momo.moda/2015/06/21/afd4836712c5e77550897e25711e1d96.jpg" class="img img-rounded">
                </div>

                <div class="col-md-7">
                    <h2>转卖二手钢琴,便宜出售</h2>
                </div>
                <div class="col-md-7">
                    <div class="col-md-3"><h4>品牌:</h4></div>
                    <div><h4>nxsdnsnd</h4></div>
                </div>
                <div class="col-md-7">
                    <div class="col-md-3"><h4>使用时间:</h4></div>
                    <div><h4>1年</h4></div>
                </div>
                <div class="col-md-7">
                    <div class="col-md-3"><h4>价格:</h4></div>
                    <div><h4>6666</h4></div>
                </div>
                <div class="col-md-7">
                    <div class="col-md-3"><h4>卖家:</h4></div>
                    <div><h4>fish tail</h4></div>
                </div>
                <div class="col-md-7">
                    <div class="col-md-3"><h4>邮箱:</h4></div>
                    <div><h4>fish tail@changqi.com</h4></div>
                </div>
                <div>
                    <button class="btn btn-info col-lg-offset-1 col-md-2" type="button">点击收藏</button>
                </div>
            </div>
            <br/>

            <div class="panel panel-default">
                <div class="panel-heading">简介：</div>
                <div class="panel-body">简介内容。。。。</div>
            </div>

            <div>
                <h4>评论：</h4>
                <textarea required="required" name="comment" rows="3" cols="155"></textarea>
                <button class="btn btn-info col-md-offset-11 col-md-1" type="button">评论</button>
            </div>
            <br/><br/>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-2">用户名</div>
                        <div class="col-md-3">邮箱：</div>
                    </div>
                </div>
                <div class="panel-body">评论内容。。。。</div>
            </div>

        </div>
    </div>

</div>

</body>
</html>